h4 { color: #000000; text-align: center;}
body { background-color: cornflowerblue;}
.form-group input { color: black; background-color: darkgray; box-shadow: 2px 2px 3px ;}
.form-group input[name="amount-input"]:hover {background-color: deepskyblue; border: solid 2px #0000ff;}
img {width: 200px; margin-bottom: 10px; box-shadow: 3px 3px 4px #0000ff;}
button { box-shadow: 3px 3px 3px #0000ff;}
#ulGeneral {color: #000000; font-weight: bold; }
.ulFontColor{ color:#000000;}
.contactMap img {width: 600px;}
#top-input { color: black; background-color: darkgray; box-shadow: 2px 2px 3px ;}
#top-input:hover {background-color: deepskyblue; border: solid 2px #0000ff;}
#map {box-shadow: 2px 2px 5px;}
#weather1{display: inline;}