#navId {
  background-color: #76448a;
  color: black;
}
body {
  background-color: #41ead4;
}
#imgStore1 {
  width: 100%;
}
#contactUl {
  color: #76448a;
  font-size: large;
}
#navButton {
  margin-right: 50px;
}
#weatherWidget {
  margin-right: 50px;
}
#servicesBody {
  background-color: #f5eef8;
}
.contactHrColor {
  color: #76448a;
}
